<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script src="lib/d3graphs.js"></script>
    </head>
    <body>

        <script>

            var x_series = [1,2,3];
            var y_series = [3.0, 1.6, 3.1];

            var linegraph = d3graphs.line("graph1", "Graphing Test")
                    .width(500)
                    .height(500);

            var linedata = linegraph.data
                    .x(x_series)
                    .y(y_series);

            linegraph.update();

            linedata.append
                    .x([4])
                    .y([4.2]);

            var counter = 5;
            var interval = setInterval(function() {

                var newX = counter++;
                var newY = Math.random() * 1000.0;

                linedata.append
                        .x(newX)
                        .y(newY);

                linegraph.update();

            }, 1000);

            var graph2 = d3graphs.line('graph2', "y=cos(x)")
                    .width(500)
                    .height(500);

            graph2.margin.setAll(50, 30, 30, 30);

            var x_range = [- 2 * Math.PI, 2 * Math.PI];
            var intervals = 1000.0;
            var step = (x_range[1] - x_range[0]) / intervals;
            var x = [];
            for (var i = 0; i < intervals; ++i) {
                x.push(x_range[0] + i * step);
            }

            var y = x.map(Math.cos);
            graph2.data
                    .x(x)
                    .y(y);

            graph2.update();


        </script>

    </body>
</html>
