body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.title-box {
    text-anchor: middle;
    font-size: 25px;
    vertical-align: middle;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}

.graph-tooltip {
    font-size: 15px;
    vertical-align: top;
    background: whitesmoke;
    border: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
}

.y-label {
    font-size: 15px;
}

.x-label {
    font-size: 15px;
}