body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.title-box {
    text-anchor: middle;
    font-size: 25px;
    vertical-align: middle;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}